joy_node:
  auto_repeat_rate: 20
  coalesce_interval: 0.0333
  deadzone: 0.05
  dev: /dev/input/js0

teleop_twist_joy:
    axis_linear: 1
    scale_linear: 0.15
    axis_angular: 2
    scale_angular: .2
    enable_button: 4

twist_mux:
  topics:
  - name    : desktop_joy
    topic   : desktop_joy_teleop/cmd_vel
    timeout : 0.5
    priority: 100
  - name    : joy
    topic   : joy_teleop/cmd_vel
    timeout : 0.5
    priority: 100
  - name    : move_base
    topic   : /move_base/cmd_vel
    timeout : 0.5
    priority: 10

  locks:
  - name    : manual
    topic   : joy_priority
    timeout : 0.0    
    priority: 100  

joystick_relay:
  priority: True

crsf_joy_drv:
  mapping:
    buttons: [4, 5, 6, 7, -1]
    axis: [0, 1, 2, 3, 5, 6, -1]

  serial:
    port: /dev/ttyUSB0
    baudrate: 425000

  joy_message_rate: 25

  failsafe:
    timeout: .5
    buttons: [0, 0, 0, 0, 0]
    axis: [0, 0, 0, 0, 0, 0, 0]

  deadband: 0.05