joy_node:
  auto_repeat_rate: 20
  coalesce_interval: 0.0333
  deadzone: 0.1
  dev: /dev/input/js0

teleop_twist_joy:
    axis_linear: 1
    scale_linear: 1
    axis_angular: 3
    scale_angular: 1
    enable_button: 4

twist_mux:
  topics:
  - name    : joy
    topic   : joy_teleop/cmd_vel
    timeout : 0.5
    priority: 100
  - name    : move_base
    topic   : /move_base/cmd_vel
    timeout : 0.5
    priority: 10

  locks:
  - name    : manual
    topic   : joy_priority
    timeout : 0.0    
    priority: 100  

joystick_relay:
  priority: True
