<?xml version="1.0"?>
<launch>
    <include if="true" file="$(find slammer_mapping)/launch/rtabmap.launch" />
    <include if="false" file="$(find slammer_mapping)/launch/slam_gmapping.launch" />
    <include if="false" file="$(find slammer_mapping)/launch/hector_mapping.launch" />
    <include if="false" file="$(find slammer_mapping)/launch/mapserver.launch"/>
</launch>
