<?xml version="1.0"?>
<launch>
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen" respawn="true" >
        <rosparam>
      odom_frame: odom
      base_frame: base_link
      map_frame: map

      map_update_interval: 0.2 # Publish new map

      maxUrange: 7.5 # Should be just less than sensor range
      maxRange: 8.1 # Should be just greater than sensor range
      particles: 200 # Increased from 80

      # Initial Map Size
      xmin: -10.0
      ymin: -10.0
      xmax: 10.0
      ymax: 10.0
      </rosparam>
    </node>
</launch>


