<launch>

 <!--- Run AMCL --> 
    <!--include file="$(find amcl)/examples/amcl_diff.launch" /-->

   <node pkg="move_base" type="move_base" respawn="true" name="move_base" output="screen">
    <rosparam file="$(find slammer_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find slammer_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find slammer_navigation)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find slammer_navigation)/config/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find slammer_navigation)/config/base_local_planner_params.yaml" command="load" />
    <remap from="/cmd_vel" to="/move_base/cmd_vel"/>
 </node>

</launch> 