<?xml version="1.0"?>
<launch>
    <group ns="unav2">
        <rosparam command="load" file="$(find slammer_control)/config/control.yaml" />
        <node name="controller_spawner" pkg="controller_manager" type="spawner" args="joint_publisher velocity_controller" output="log">
            <remap from="joint_states" to="/joint_states"/>
        </node>
    </group>
    <include file="$(find slammer_control)/launch/localization.launch" />
</launch>
