<launch>
  <node pkg="robot_localization" type="ekf_localization_node" name="localization" output="log" respawn="true" >
    <rosparam command="delete" param="/localization"/>
    <rosparam command="load" file="$(find slammer_control)/config/localization.yaml" />
      <remap from="cmd_vel" to="/unav2/velocity_controller/cmd_vel" />
  </node> 
</launch>