<?xml version="1.0"?>
<launch>
    <group ns="unav2">
        <rosparam file="$(find slammer_control)/config/unav.yaml" command="load" />
        <node pkg="unav2_hardware" type="hardware_node" name="hardware_node" output="log" respawn="true" respawn_delay="2">
            <remap from="/unav2/joint_states" to="/joint_states"/>
        </node>
        <node pkg="rosserial_python" type="message_info_service.py" name="message_info_service" output="log" respawn="true" respawn_delay="2"/>
        <node pkg="unav2_hardware" type="configuration_manager.py" name="unav2_configuration_manager" output="log" respawn="true" respawn_delay="2"/>
    </group>
</launch>
