<?xml version="1.0"?>
<launch>
<node pkg="slammer_driver" type="notification.py" name ="notification" output="log" respawn="true"/>
<node pkg="slammer_driver" type="oled.py" name ="oled" />
<node pkg="ros_signalling_ws2812" type="node" name="ws2812" output="log" respawn="true" />
<include file="$(find slammer_driver)/launch/sensors.launch"/>
</launch>