<?xml version="1.0"?>
<launch>
  <!-- params -->
  <rosparam command="load" file="$(find slammer_teleop)/config/teleop.yaml" />

  <!-- nodes -->
  <node name="joy_node" pkg="joy" type="joy_node" respawn="true"/>
  <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy"/>
  <node pkg="twist_mux" type="twist_mux" name="twist_mux">
      <remap from="cmd_vel_out" to="velocity_controller/cmd_vel"/>
  </node>
 </launch>