<?xml version="1.0"?>
<launch>
    <node pkg="nodelet" type="nodelet" name="sim_manager"  args="manager"/>

    <node pkg="nodelet" type="nodelet" name="register_nodelet" args="load depth_image_proc/register sim_manager">
        <remap from="rgb/camera_info" to="/camera/color/camera_info"/>
        <remap from="depth/camera_info" to="/camera/depth/camera_info"/>
        <remap from="depth/image_rect" to="/camera/depth/image_raw"/>
        <remap from="depth_registered/image_rect" to="/camera/aligned_depth_to_color/image_raw"/>
    </node>
</launch>
