<?xml version="1.0"?>
<launch>
<node name="dynamic_reconfigure_encoder_load" pkg="dynamic_reconfigure" type="dynparam" args="load /unav2_configuration_manager $(find rover_launch_files)/params/encoder.yaml" />
<node name="dynamic_reconfigure_hardware_load" pkg="dynamic_reconfigure" type="dynparam" args="load /unav2_configuration_manager $(find rover_launch_files)/params/hardware.yaml" />
<node name="dynamic_reconfigure_pidcat_load" pkg="dynamic_reconfigure" type="dynparam" args="load /unav2_configuration_manager $(find rover_launch_files)/params/pid.yaml" />
<include file="$(find unav2_hardware)/launch/main.launch" />
</launch>



