<launch>
  <arg name="use_pointcloud_to_depthimage" default="false"/>

  <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
  <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>
  <param name="serial_baudrate"     type="int"    value="115200"/><!--A1/A2 -->
  <!--param name="serial_baudrate"     type="int"    value="256000"--><!--A3 -->
  <param name="frame_id"            type="string" value="laser"/>
  <param name="inverted"            type="bool"   value="false"/>
  <param name="angle_compensate"    type="bool"   value="true"/>
  </node>

  <include file="$(find realsense_camera)/launch/r200_nodelet_rgbd.launch">
    <arg name="respawn" value="true"/>
    <arg name="rgb_processing" value="true"/>
  </include>
  <node if="$(arg use_pointcloud_to_depthimage)" pkg="rtabmap_ros" type="pointcloud_to_depthimage" name="pointcloud_to_depthimage">
    <param name="cloud" value="/camera/depth/points"/>
    <param name="camera_info" value="/camera/rgb/camera_info"/>
    <param name="image_raw" value="/camera/depth/points/image_raw"/>
    <param name="image" value="/camera/depth/points/image"/>
    <param name="approx" value="false"/>
    <param name="fill_holes_size" value="2"/>
  </node>
</launch>
