<launch>
  <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
  <param name="serial_port"         type="string" value="/dev/serial/by-id/usb-Silicon_Labs_CP2102_USB_to_UART_Bridge_Controller_0001-if00-port0"/>
  <param name="serial_baudrate"     type="int"    value="115200"/>
  <param name="frame_id"            type="string" value="laser"/>
  <param name="diagnostics_frequency" value="1.0" />
  </node>
<include file="$(find rover_launch_files)/launch/r200_camera.launch">
  
</include>
    <!-- Run Bosch BNO055 IMU -->
  <arg name="bosch_config_file" default="$(find rover_launch_files)/config/imu_bosch.yaml"/> 
  <node pkg="bosch_imu_driver" type="bosch_imu_node.py" name="bosch_imu_node" output="screen" respawn="true">
    <rosparam file="$(arg bosch_config_file)" command="load"/>
  </node> 
</launch>
