[Unit]
Description=Supervisord services

[Service]
Type=forking
ExecStart=/usr/local/bin/supervisord
Restart=on-failure

[Install]
WantedBy=multi-user.target
